header {
    height: 200px;
}

.red-font {
    color: red;
}

.blue-font {
    color: blue;
}

.emoji-rating {
    font-size: 8em;
}

.source-name {
    text-transform: uppercase;
    font-weight: bold;
}