{% extends 'factchecker/base.html' %}

{% block content %}
<div class="container about">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>About us</h1>
      <p>
        This project is an experiment by the Futures Lab of the Reynolds Journalism Institute. Our aim is to distill the editorial process and content format of fact-checking publications, such as PolitiFact, and demonstrate how other news organizations could replicate these tools.
      </p>
      <p>
        We're focusing on newsworthy claims, by newsworthy people and organizations, related to education in Missouri. If you've got a claim you would like for us to check out, please pass it along.
      </p>
      <p>
        Here's breakdown of our rating scale:
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for rating in ratings %}
      <div class="col-10">
        <span class='emoji'>
          {{ rating.emojis|safe }}{{ skin_tone }}{% if rating.label != "True" %}&zwj;{{ gender }}{% endif %}
        </span>&nbsp;
        <span class="rating-label {{ rating.css_class }}">
          {{ rating.label }}
        </span>
      </div>
      <div class="col-10 definition">{{ rating.definition }}</div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}