{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en" >
  
  <head>
    {% block head %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ CUSTOM_WEBSITE_TITLE }}{% endblock title %}</title>
    <meta 
      name="description" 
      content="{% block description %}{{ CUSTOM_WEBSITE_DESCRIPTION }}{% endblock description %}"
    />
    
    {% include 'factchecker/social_metadata.html' %}
    
    {% block stylesheets %}
      {% bootstrap_css %}
      <link rel="stylesheet" type="text/css" href="{% static 'factchecker/css/main.css' %}" />
    {% endblock stylesheets %}
    
    {% block javascript %}
      {% bootstrap_javascript jquery='slim' %}
    {% endblock javascript %}

    {% endblock head %}
  </head>
  
  <body>
    {% include 'factchecker/header.html' %}
    <main role="main">
      {% block content %}
      {% endblock content %}
    </main>
    {% include 'factchecker/footer.html' %}
  </body>
</html>
