{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="{{ ogtype }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{% static 'factchecker/img/share-img.png' %}"/>
    <meta property="og:image:width" content="1004" />
    <meta property="og:image:height" content="527" />

    <meta property="twitter:card" content="summary_large_image">
    <meta property"twitter:site" content="@RJIFuturesLab" />
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}"/>
    <meta property="twitter:image:src" content="{% static 'factchecker/img/share-img.png' %}">

    
    <!-- css -->
    <!-- first bootstrap -->
    {% bootstrap_css %}
    <!-- then our own custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'factchecker/css/main.css' %}" />
    {% block extracss %}
    {% endblock %}

    <!-- js -->
    <!-- jQuery first, then Popper.js, then bootstrap.js -->
    {% bootstrap_javascript jquery='slim' %}
    {% block extrajs %}
    {% endblock %}

  </head>
  <body>
    {% include 'factchecker/header.html' %}
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>
    {% include 'factchecker/footer.html' %}
  </body>
</html>
