{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- css -->
    <!-- first bootstrap -->
    {% bootstrap_css %}
    <!-- then our own custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'factchecker/css/main.css' %}" />
    {% block extracss %}
    {% endblock %}

    <!-- js -->
    <!-- jQuery first, then Popper.js, then bootstrap.js -->
    {% bootstrap_javascript jquery='slim' %}
    {% block extrajs %}
    {% endblock %}

  </head>
  <body>
    {% include 'factchecker/header.html' %}
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>
    {% include 'factchecker/footer.html' %}
  </body>
</html>
