{% extends 'factchecker/base.html' %}
{% load markdown_deux_tags emoji_tags %}
{% load static %}

{% block head %}
  {{ block.super }}
  {# {% include 'factchecker/claimreview_schema.html' %} #}
{% endblock head %}

{% block title %}{{ claim_review.claim }}{% endblock title %}

{% block description %}
  {{ claim_review.rating.label }}: {{ claim_review.summary }}
{% endblock description %}

{% block og_type %}article{% endblock og_type %}

{% block content %}
<div class="container mx-5 px-5 mt-4">
  {% if claimreview.claim.source.image %}
  <div class="col-12 col-md-4">
    <img
      class="source-img"
      src="{{ claimreview.claim.source.image.url }}"
      alt="{{ claimreview.claim.source }}"
    >
  </div>
  {% endif %}
  <blockquote class="blockquote mb-6">
    <h2>{{ claimreview.claim.summary }}</h2>
    <footer class="blockquote-footer">{{ claimreview.claim.source.name }}<br>
      <cite title="Context">
        {% if claimreview.claim.context_url %}
          <a href="{{ claimreview.claim.context_url }}" target="_blank">
          ({{ claimreview.claim.context_description }} on {{ claimreview.claim.claimed_on }})
          </a>
        {% else %}
          ({{ claimreview.claim.context_description }} on {{ claimreview.claim.claimed_on }})
        {% endif %}
      </cite>
    </footer>
  </blockquote>
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-5 col-lg-4">
      <img
        class='rating-icon mx-md-auto'
        src="{% static claimreview.rating.svg_url %}"
        alt="{{ claimreview.rating.label }} icon"
      >
    </div>
    <div class="rating-label col-md-10 mb-3 {{ claimreview.rating.css_class }}">{{ claimreview.rating.label }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ claimreview.body|markdown }}
    </div>
  </div>
</div>

{% endblock content %}