{% extends 'factchecker/base.html' %}
{% load emoji_tags %}

{% block title %}About our project{% endblock title %}

{% block description %}Learn more about the Missouri Education Fact Checker.{% endblock description %}

{% block og_type %}article{% endblock og_type %}

{% block content %}

{% random_skin_tone as skin_tone %}

<div class="container about">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>About us</h1>
      <p>
        This project is an experiment by the Futures Lab of the Reynolds Journalism Institute. Our aim is to distill the editorial process and content format of fact-checking publications, such as PolitiFact, and demonstrate how other news organizations could replicate these tools.
      </p>
      <p>
        We're focusing on newsworthy claims, by newsworthy people and organizations, related to education in Missouri. If you've got a claim you would like for us to check out, please pass it along.
      </p>
      <p>
        Here's breakdown of our rating scale:
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for rating in claimrating_list %}
      <div class="col-10">
        <div class="row justify-content-start">
          <div class="col-4 col-md-3 col-lg-2">
            <img
              class='rating-icon mx-md-auto'
              src="{{ rating.image.url }}"
              lt="{{ rating.label }} icon"
            >
          </div>
          <div 
            class="col-8 col-md-9 col-lg-10 rating-label px-0 {{ rating.css_class }}"
          >{{ rating.label }}</div>
        </div>
      </div>
      <div class="col-10 definition">{{ rating.definition }}</div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}