{% extends 'factchecker/base.html' %}
{% load emoji_tags static %}

{% block content %}

{% random_gender as gender %}
{% random_skin_tone as skin_tone %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class='col-12 col-md-4 state-container'>
        <img
          id='state-sil'
          src="{% static 'factchecker/img/missouri-map-silhouette.svg' %}"
          alt="Silhouette of State of Missouri"
        >
      </div>
      <div class='col-12 col-md-8 title'>
        <h1 class="display-4"><span class="yellow-font">Missouri Education</span> Fact Checker</h1>
        <p class="lead">{{ description }}</p>
      </div>
      <div class="col-12">
        <p class="lead title-sm">{{ description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% if claimreview_list %}
    {% for cr in claimreview_list %}
      <a href="{% url 'factchecker:detail' cr.id %}" style="text-decoration: none;">
      <div class="row claim-review-item row">
        {% if cr.claim.source.image %}
        <div class="col-sm-3 order-1 image-wrapper">
          <img
            class="source-img"
            src="{{ cr.claim.source.image.url }}"
            alt="{{ cr.claim.source.name }}"
          >
        </div>
        <div class="col-sm-9 col-lg-6 order-2 order-lg-2">
        {% else %}
        <div class="col-12 col-lg-9 order-1">
        {% endif %}
          <p class="source-name">{{ cr.claim.source.name }}</p>
          <p class="claim">{{ cr.claim.summary }}</p>
          <p class="context">– {{ cr.claim.context_description }} ({{ cr.claim.claimed_on }})</span></p>
        </div>
        <div class="col-7 col-lg-12 order-3 order-lg-4 rating-summary-label">
          <h3 class="rating-label {{ cr.rating.css_class }}">{{ cr.rating }}</h3>
          <p class="rating-summary">{{ cr.summary }} <span class='read-more'>Read more >>></span></p>
        </div>
        <div class="col-5 col-lg-3 emoji order-4 order-lg-3">
          {% if cr.rating.label == "True" %}
          {{ cr.rating.emojis }}{{ skin_tone }}&#xfe0f;
          {% else %}
          {{ cr.rating.emojis }}{{ skin_tone }}&zwj;{{ gender }}&#xfe0f;
          {% endif %}
        </div>
      </div>
      </a>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-12">
        <p>No reviewed claims available.</p>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
