<script type="application/ld+json">
  {
    "@type": "ClaimReview",
    "datePublished": {{ claimreview.}},
    "url": {{ url }},
    "author": {
      "@type": "Organization",
      "url": "http://www.politifact.com/",
      "image": "http://static.politifact.com/mediapage/jpgs/politifact-logo-big.jpg",
      "sameAs": {{}}
    },
    "claimReviewed": ,
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": 1,
      "bestRating": 6,
      "image": "http://static.politifact.com.s3.amazonaws.com/rulings/tom-pantsonfire.gif",
      "alternateName": "True"
    },
    "itemReviewed": {
      "@type": "CreativeWork",
      "author": {
        "@type": "Person",
        "name": "Rich Perry",
        "jobTitle": "Former Governor of Texas",
        "image": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Gov._Perry_CPAC_February_2015.jpg/440px-Gov._Perry_CPAC_February_2015.jpg",
        "sameAs": [
            "https://en.wikipedia.org/wiki/Rick_Perry",
            "https://rickperry.org/"
        ]
      },
      "datePublished": "2014-07-17",
      "name": "The St. Petersburg Times interview [...]"
    }
  }
</script>