{% extends 'factchecker/base.html' %}
{% load emoji_tags static %}
{% load humanize %}

{% block content %}

<div class="jumbotron mb-1">
  <div class="container">
    <div class="row">
      <div class='col-12 col-md-4 state-container'>
        <img
          id='state-sil'
          src="{% static 'factchecker/img/missouri-map-silhouette.svg' %}"
          alt="Silhouette of State of Missouri"
        >
      </div>
      <div class='col-12 col-md-8 title'>
        <h1 class="display-4"><span class="yellow-font">Missouri Education</span> Fact Checker</h1>
        <p class="lead">{{ CUSTOM_WEBSITE_DESCRIPTION }}</p>
      </div>
      <div class="col-12">
        <p class="lead title-sm">{{ CUSTOM_WEBSITE_DESCRIPTION }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="col-10 px-2 py-2">
      This is an experiment built by the RJI Futures Lab. If you like what you see and want to learn more about how we built this, check out our GitHub <a href="https://github.com/rji-futures-lab/django-fact-checker">repo</a>.
    </div>
  </div>
  {% if claimreview_list %}
    <div class="row justify-content-around">
    {% for cr in claimreview_list %}
      <div class="review-item-box col-12 col-md-10 col-lg-8 mb-4 px-0">
        <a class="review-item-link" href="{% url 'factchecker:detail' cr.id %}">
        {% if cr.claim.source.image %}
          <img
            class="source-image"
            src="{{ cr.claim.source.image.url }}"
            alt="{{ cr.source }}"
          >
        {% endif %}
        <div class="review-item-body px-3 px-md-5 py-3 py-md-5">
          <blockquote class="blockquote mb-6">
            <p>{{ cr.claim.summary }}</p>
            <footer class="blockquote-footer">{{ cr.claim.source.name }}
              <cite title="Context"><br>
                ({{ cr.claim.context_description }} on {{ cr.claim.claimed_on }})
              </cite>
            </footer>
          </blockquote>
          <div class="row justify-content-center">
            <div class="col-6 col-sm-5 col-md-7 col-lg-6">
              <img
                class='rating-icon mx-md-auto'
                src="{% static cr.rating.svg_url %}"
                alt="{{ cr.rating.label }} icon"
              >
            </div>
            <div class="rating-label col-md-10 {{ cr.rating.css_class }}">{{ cr.rating.label }}
            </div>
          </div>
          <p class="rating-summary">{{ cr.summary }}</p>
        </div>
        </a>
        <footer class="review-item-footer text-muted">
          <small>Published 
          {% if cr.published_within_last_24_hours %}
            {{ cr.published_on | naturaltime }}
          {% else %}
            {{ cr.published_on | naturalday }}
          {% endif %}
          </small>
        </footer>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <div class="row">
      <div class="col-12">
        <p>No reviewed claims available.</p>
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}
