{% extends 'factchecker/base.html' %}

{% block content %}
<div class="container coming-soon">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Coming soon...</h1>
      <div class="emoji">🚧👷{{ skin_tone }}&zwj;{{ gender }}🚧</div>
      <p>
        Our project is still a work in progress. Keep checking back here or follow us on <a href="https://twitter.com/RJIFuturesLab">Twitter</a> or <a href="https://www.facebook.com/reynoldsjournalisminstitute/">Facebook</a>.
      </p>
      <h5>Need to <a href="{{ login_url }}">login</a>?</h5>
    </div>
  </div>
</div>
{% endblock %}