{% extends 'factchecker/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div class="row">
  <div class="col-2">
    <img
      class="source-img"
      src="/.media/{{ cr.claim.source.image }}"
      alt="{{ cr.claim.source }}"
    >
  </div>
  <div class="col-8">
    <h1>{{ claim_review.claim.summary }}</h1>
    <p class="italics right-align">- {{ claim_review.claim.source }}<br>{{ claim_review.claim.context_description }}</p>
  </div>
</div>
<div class="row justify-content-center rating">
  <div class="col-auto">
    <h2>{{ claim_review.rating.label }}</h2>
    <h2 class='emoji-rating'>{{ claim_review.rating.emojis|safe }}{{ skin_tone }}&#x200D;{{ gender }}</h2>
    <h5>{{ claim_review.summary }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>By <a href='mailto:{{ claim_review.created_by.email }}'>{{ claim_review.created_by.get_full_name }}</a></p>
    {{ claim_review.body|markdown }}
  </div>
</div>
{% endblock %}