{% extends 'factchecker/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div class="row">
  {% if claim_review.claim.source.image %}
  <div class="col-3">
    <img
      class="source-img"
      src="{{ claim_review.claim.source.image.url }}"
      alt="{{ claim_review.claim.source }}"
    >
  </div>
  {% endif %}
  <div class="col-7">
    <h1>{{ claim_review.claim.summary }}</h1>
    <p class="context">- {{ claim_review.claim.source }}<br>
    {% if claim_review.claim.context_url %}
      <a href="claim_review.claim.context_url">{{ claim_review.claim.context_description }} ({{ claim_review.claim.claimed_on }})</a>
    {% else %}
      {{ claim_review.claim.context_description }} ({{ claim_review.claim.claimed_on }})
    {% endif %}
    </p>
  </div>
</div>
<div class="row justify-content-center rating">
  <div class="col-auto">
    <h2>{{ claim_review.rating.label }}</h2>
    <h2 class='emoji-rating'>{{ claim_review.rating.emojis|safe }}{{ skin_tone }}&#x200D;{{ gender }}</h2>
    <h5>{{ claim_review.summary }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>By <a href='mailto:{{ claim_review.created_by.email }}'>{{ claim_review.created_by.get_full_name }}</a></p>
    {{ claim_review.body|markdown }}
  </div>
</div>
{% endblock %}