{% load static %}

<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class='col-4'>
      <img
        id='state-sil'
        src="{% static 'factchecker/img/missouri-map-grey-silhouette.svg' %}"
        alt="Silhouette of State of Missouri"
      >
    </div>
    <div class='col-8'>
      <h1 class="display-3"><span class="red-font">Missouri</span> <span class="blue-font">Education</span> Fact Checker</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
