{% load static %}
{% load staticfiles %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li id="home" class="nav-item">
        <a class="nav-link" href="{% url 'factchecker:index' %}">Home </a>
      </li>
      <li id="about" class="nav-item">
        <a class="nav-link" href="{% url 'factchecker:about' %}">About </a>
      </li>
      <li id="submit-claim" class="nav-item">
        <a class="nav-link" href="{% url 'factchecker:submit_claim' %}">Tips </a>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(".nav-item").on("click", function(){
    $(".navbar-nav").find(".active").removeClass("active");
    $(this).addClass("active");
  });

  var url = window.location;
  if (url.pathname == '/') {
      $('#home').addClass('active');
  } else if (url.pathname.startsWith("/about")) {
      $("#about").addClass('active');
  } else if (url.pathname.startsWith("/submit-claim")) {
      $('#submit-claim').addClass('active');
  } else {
    $(".navbar-nav").find(".active").removeClass("active");
  }
</script>