{% extends 'factchecker/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
  <div class="row">
    <div class='col-4'>
      <img
        id='state-sil'
        src="{% static 'factchecker/img/missouri-map-grey-silhouette.svg' %}"
        alt="Silhouette of State of Missouri"
      >
    </div>
    <div class='col-8'>
      <h1 class="display-4"><span class="red-font">Missouri</span> <span class="blue-font">Education</span> Fact Checker</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
{% if claim_review_list %}
  {% for cr in claim_review_list %}
    <a href="{% url 'factchecker:detail' cr.id %}" style="text-decoration: none;">
    <div class="row claim-review-summary">
      <div class="col-2">
        <img
          class="source-img"
          src="/.media/{{ cr.claim.source.image }}"
          alt="{{ cr.claim.source }}"
        >
      </div>
      <div class="col-8">
        <p class="source-name">{{ cr.claim.source }}</p>
        <p>{{ cr.claim.summary }} – <span class="italics">{{ cr.claim.context_description }} ({{ cr.claim.claimed_on }})</span></p>
      </div>
      <div class="col-2 emoji-rating">
        {{ cr.rating.emojis|safe }}{{ skin_tone }}&#x200D;{{ gender }}
      </div>
    </div>
    </a>
    <hr>
  {% endfor %}
{% else %}
  <p>No reviewed claims available.</p>
{% endif %}
  </div>
</div>
{% endblock %}