{% extends 'factchecker/base.html' %}
{% load static %}

{% block content %}

<div class="container thanks">
  <div class="row justify-content-center">
    <div class="col-6">
    <h2>simpsons</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/down.svg' %}"></img>
    <h2>light-skin</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/light-skin/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/light-skin/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/light-skin/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/light-skin/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/light-skin/down.svg' %}"></img>
    <h2>medium-light-skin</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-light-skin/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-light-skin/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-light-skin/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-light-skin/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-light-skin/down.svg' %}"></img>
    <h2>medium-skin</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-skin/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-skin/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-skin/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-skin/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-skin/down.svg' %}"></img>
    <h2>medium-dark-skin</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-dark-skin/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-dark-skin/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-dark-skin/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-dark-skin/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/medium-dark-skin/down.svg' %}"></img>
    <h2>dark-skin</h2>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/dark-skin/up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/dark-skin/half-up.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/dark-skin/neutral.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/dark-skin/half-down.svg' %}"></img>
      <img class="thumbs-icon" src="{% static 'factchecker/img/thumbs/dark-skin/down.svg' %}"></img>
    </div>
  </div>
</div>

{% endblock %}
